body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  video {
    border-radius: 2px;
  }
  #video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  